@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- VARIABLES START ----- */

:root {
    --elevation-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ----- VARIABLES END ----- */

/* ----- INHERITED START ----- */

html {
    font-family: "Roboto", sans-serif;
}

/* ----- INHERITED END ----- */

header {
    background-color: rgb(255, 151, 119);
    padding: 1rem;
}

main {
    margin-bottom: 1rem;
}

.project-card {
    box-shadow: var(--elevation-1);
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 15rem;
    overflow: hidden;
    width: 300px;

    .project-image {
        width: unset;
        height: 12rem;
    }

    .project-title {
        color: #000000;
    }
}

section {
    margin-bottom: 1rem;
    padding: 1rem;

    .section-title {
        margin-bottom: 2rem;
        font-weight: bold;
        text-align: center;
    }
}

#section-1 {
    background-color: rgb(252, 59, 0);
    color: #ffffff;
    min-height: 100vh;
    padding-top: 50vh;
    text-align: center;
}

.review-list {
    width: 100%;
    max-width: 25rem;
}

.review-item {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    color: rgb(118, 118, 118);

    .reviewer-name {
        font-weight: bold;
        color: #000000;
        margin-bottom: 0.25rem;
    }
}

footer {
    padding: 1rem;
    background-color: rgb(40, 40, 40);
    color: white;

    a {
        margin-right: 1rem;
    }
}

/* ----- STANDARDS START ----- */

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* ----- STANDARDS END ----- */